[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
streamlink = "*"
pyocr = "*"
pillow = "*"
google-api-python-client = "*"
nose = "*"
requests = "*"
oauth2client = "*"
pynayzr = {editable = true,path = "."}
async-pyocr = {editable = true,git = "https://github.com/mlouielu/async-pyocr/"}
aiohttp = "*"
imgcompare = "*"

[requires]
python_version = "3.7"
